<%= stylesheet_link_tag 'message', media: 'all'%>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<h1> All conversations </h1>

<%= link_to "New Conversation", new_conversation_path %>

<% @conversations.each do |conversation| %>
    <div>
    <%= link_to conversation.subject, conversation_path(conversation) %>     
 
    </div>
<% end %>
