

<%= stylesheet_link_tag 'welcome' %>


 <div class="dropdown">
  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#some">
    Filter Products
    <b class="caret"></b>
  </a>
  <ul id="some" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
   <%= render 'filter' %>
  </ul>
</div>
<div class="btn-group">
  <button class="btn btn-primary btn-lg dropdown-toggle bottombutton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    Filter Products
  </button>
  <div class="dropdown-menu"  >
   <a class="dropdown-item" href="#"> <%= render 'filter' %></a>
  </div>
</div>




<%= render 'products' %>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        
    });
</script> 