

<%= stylesheet_link_tag 'welcome' %>



<div class="btn-group">
  <button class="btn btn-primary btn-lg dropdown-toggle bottombutton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    Filter Products <span class="caret"></span>
  </button>
  <div class="dropdown-menu"  >
   <a class="dropdown-item" href="#"> <%= render 'filter' %></a>
  </div>
</div>




<%= render 'products' %>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        
    });
</script> 