

<%= stylesheet_link_tag 'welcome' %>




 <div class="container-fluid" style="background-color:#2F3F5F" >
    <div class="row" id="one" style="background-color:#2F3F5F;">
        <div class="col-lg-6">  
          <h1 class="left" style="font-size:4rem:font-weight:400;color:white">
            Buy, trade, and sell @ Brandeis.
          </h1>
        </div>
        <div class="col-lg-6">
          <div class="right">
            <%= image_tag "humans1.png",  class: "im", style:"max-width:420px"%>
          </div>
        <div style=" margin-top:15%; ">
      </div>
    </div>
  </div>
</div>



<div class="btn-group" style="background-color:#2F3F5F">
  <button class="btn btn-primary btn-lg dropdown-toggle bottombutton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#2F3F5F" >
    Filter Products <span class="caret"></span>
  </button>
  <div class="dropdown-menu"  >
   <a class="dropdown-item" href="#"> <%= render 'filter' %></a>
  </div>
</div>




<%= render 'products' %>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        
    });
</script> 