

<%= stylesheet_link_tag 'welcome' %>




<div class="bod">
    <div class="container-fluid" style="background-color:#2F3F5F;" >
    <div class="row" id="one" style="background-color:#2F3F5F; border:none;">
          <br>      <br>  <br> <br>
        <div class="col-lg-6">  
          <h1 class="left" style="text-align:left;font-size:5.8rem;font-weight:400;color:white">
            Buy, trade, and sell @ Brandeis.
          </h1>
        </div>
        <div class="col-lg-6">
                 <div class="right" style="height: auto;max-height:370px;">
            <%= image_tag "humans1.png",  class: "im", style:"max-width:400px"%>
          </div>
        <div style=" margin-top:15%; ">
      </div>
    </div>
  </div>
</div>
</div>
<button type="button" id="filter" class="btn btn-primary btn-lg bottombutton" data-bs-toggle="modal" data-toggle="modal" data-target="#exampleModal">
  Filter Products<span class="caret"></span>
</button>

<!-- Modal -->
<div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
       <%= render 'filter' %>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>




<%= render 'products' %>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        
    });
</script> 