/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 .card {
  max-width: 100%;
}
.card-text {
  word-wrap: break-word !important;
  
}
 .nostyle{
   background:none;
   border:none;

   text-align:left !important;

}
#navBarSearchForm input[type=text]{width:530px !important;}

 .navbar{
   background-color: #2F3F5F;
   border-radius: 0px !important;
   border:none;
 }
 
 #nav-cont{
   padding: 0 ;
   background-color: #2F3F5F;
 }
 .navbutt{
   color:white !important;
   transition: 0.2s;


 }
 .navbutt:hover{
  color: #b4c3e2 !important;

}

 #brand{
   color:white;
   font-family:serif;
 }
 .textt{
   color:white !important;
 }



 .heading{
   font-size: 3rem;
 }