

#wel{

    color:  #2F3F5F;
    font-family: serif;
    font-weight: bold;
    font-size: xxx-large;
    font-size: 500%;
    margin-top: 5%;
}

.row {
    border: #ededed thin solid;
    background: white;
    height: 70%;
    padding-left: 0 !important;
}

.nopadding {
    padding: 0 !important;

 }

.nopadding-left{
    padding-left: 0 !important;
}

#createaccount{
    margin-top: 10%;
    color: #2F3F5F;
    font-family: serif;
    font-weight: bold;
    font-size: xx-large; //changes both create your account and create your product heading 
}

#info{
    background: white;
}

.col{
    height: 100%;
}

form{
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 10%;
   margin-bottom: 10%;
}

.form-row .col{
    padding-right: 0%;
    text-align: left;
}
.btn{
    background:  #2F3F5F;
    border: none;
}

a{
   color: #0F9BBA;
   color: inherit;
  // text-decoration: underline;
}

#loginlink{
    margin-bottom: 5%;
    margin-left: 10%;
}

#links a:link, a:hover, a:visited, a:active {
    color: #0F9BBA;
}

#signupform{
    padding-top:0% ;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
   
}