@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
 
 h2, h4, h6 {
    line-height: 1;
  }
  
  
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  