

#links a:link, a:hover, a:visited, a:active {
    color: #0F9BBA;
}

.log{
  color:  #2F3F5F;
  font-family: serif;
  font-weight: bold;
  font-size: xxx-large;
text-align: center;
  margin-top: 5%;
}

#signin{
  margin-top: 10%;
  color: #2F3F5F;
  font-family: serif;
  font-weight: bold;
  font-size: xx-large;
}


#sign{
border-width:thick;
border-color: gray;
background: white;
width: 50%;
margin-left: 25%;
margin-right: 25%;
margin-top: 5%;

  form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
    font-size: large;
    color: #2F3F5F;
    font-family: serif;
   
 }

  h5{
    margin-left: 20%;
    margin-bottom: 15%;

  }
   .btn{
     font-size: large;
     background:  #2F3F5F;
     border: none;
   }
}


body{
  background: #F6FDFF;
  
}