*{
    margin: 0px;
    padding: 0px;
}
html{
    margin: 0px!important;
    padding: 0px!important;
}
#body{
  margin-top: 5%;
    display: flex;
    justify-content: center;
    .card .images,.card .infos {
        width: 50%; 
    }
    .card{
        background-color: white;
        width: 80%;
        height: 60%;
        border-radius: 8px;
        display: flex;
      
       box-shadow: 0px 0px 10px 1px rgba( 0, 0, 0, 0.2);
     
    } 
    #individualProduct{
        height: 90vh;
        width: 85vw;
        background-color: #5fdffc;
        border-radius: 10px;
        display: flex;
        align-items: center;
        
        justify-content: center;
    }
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
    }
   .infos .price{
       display: flex;
       width: 40%;
       justify-content: space-between;
   }
   .infos .more-infos{
       height: 30%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    }
    .info-content{
        font-size: 12px;
    }
    .buttons{
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    .buttons button{
        margin-left: 0%!important;
        padding: 0%!important;
        width: 45%;
        font: inherit;
        border: 2px solid #5fdffc;
        border-radius: 25px;
        background-color: white;
    }
    .buttons button{
        margin-right: 5%;
    }
    .buttons button:hover,#buynow:hover, #curr:hover{
        color: white;
        background-color:#5fdffc ;
    }
    .slider{
        padding:5% ;
       
        height: 80%;
        display: flex;
        align-items: center;
    }
    .slider img{
        border-radius: 8%;
        max-width: 100%;
        width: 100%;
        margin: auto;
        max-height:100%;
    }
    .img-slider{
        display: flex;
        justify-content: center;
        height: 85px;
        justify-content: space-between;
        margin: 0!important; 
        width: 90%;
    }
    .img-slider div{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-left: 5%;
        padding: 0%!important;
    }
    .img-slider img{
        max-width:100%;
        max-height:100%;
        width: 100%;
        border-radius: 8%;
    }
   
    #curr{
    margin: 0%!important;
     padding: 0%!important;
     background-color: white;
     border: none;
     width: 100%;
     text-align: center;
     margin: 0%!important;
     padding: 0%!important;
     font: inherit;
    }
    #buynow{
    padding: 0%!important;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid #5fdffc;
    border-radius: 25px;
    align-items: center;
    height: 40px;
    text-align: center;    
    width: 45%;
   
    margin-right: 5%;
    }
}
