*{
    margin: 0px;
    padding: 0px;
}
.body{
    margin: 0px! important;
    padding: 0px! important;
    font-family:'montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#individualProduct{
    height: 90vh;
    width: 75vw;
    background-color: #5fdffc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        background-color: white;
        width: 80%;
        height: 70%;
        border-radius: 8px;
        display: flex;
    }
    .card .images, .card .infos{
        width: 50%;

    }
}
