// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#EditProd{
    color:  #2F3F5F;
    font-family: serif;
    font-weight: bold;
    font-size: xxx-large;
    font-size: 400%;
    margin-top: 5%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }


#del{
    text-align: left;
    margin-left: 10%;
}
#cancel{
    text-align: right;
    margin-left:65% ;
}

.bottombutton{
    background-color: #2F3F5F;
    font-size:12px;
    padding: 6px;
    border-radius: 5px;
    border:none;
    outline:none;
    color:white;
}

.bottombutton:hover{
    background-color: #566583;
}

#fo{
    background-color: white;
    width: 80%;
    margin-left: 10%;
   form{
       margin-top: 0%;
       padding-top: 5%;
       margin-bottom: 3%;
      
   }
}


#likebutton{
    border:none !important;
    outline:none !important;
    background-color: white;

}


#c{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 6px;
    padding-right:2%;
    padding-left:2%;
    margin-top:0%;
    padding:0%;

 
}

.padd{
    padding-top:14%;
}

@media (max-width: 990px) {
    .padd{
        margin-top:30%;
    }
}

#productrow{
    margin-top: 0%;
}
.heart{
    background-color: white;
    border: none;
    margin-left: 0%!important;
    padding-left: 0%!important;
    i{
        text-align: left;
        margin-left: 0%!important;
        padding-left: 0%!important;
        font-size: x-large;
    }
}
.heartholder{
    margin-left: 0%!important;
    padding-left: 0%!important;
    form{
        margin-left: 0%!important;
        padding-left: 0%!important;
    }
}