#EditProd{
    color:  #2F3F5F;
    font-family: serif;
    font-weight: bold;
    font-size: xxx-large;
    font-size: 400%;
    margin-top: 5%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

#del{
    text-align: left;
    margin-left: 10%;
}

#cancel{
    text-align: right;
    margin-left:65% ;
}

#fo{
    background-color: white;
    width: 80%;
    margin-left: 10%;
}
form{
       margin-top: 0%;
       padding-top: 5%;
       margin-bottom: 3%;

    }

#pro{
    margin-top: 5%;
     width:80%;
     margin-left: 10%;
     border: none;
     background-color: #F6FDFF;
}

#wa {

    padding-right: 0% !important;
    margin-right: 0% !important;
}
#me{
    margin-left: 40%;
    width: 20%;
    margin-right: 40;
    background-color: none;
    #lastName{
        padding-right: 0%;
        text-align: right;
    }
}

body{
    margin:0px;
    margin-bottom:5%;
    background-color: #F6FDFF;
 }
 
.emp-profile{
    padding: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
 
}




.profile-edit-btn{
    border: none;
    border-radius: 1.9rem;
    width: 70%;
    padding: 7%;
    font-weight: 900;
    color: #6c757d;
    cursor: pointer;
}




