<h5 id ="EditProd"> Edit Product </h5>
<div class ="container" id="fo">
<%= render 'form', product: @product %>
</div>
<br>
<%= link_to 'Delete Product', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary', id: 'del'  %>
<%= link_to 'Cancel', mypage_path , id:'cancel', class: 'btn btn-primary' %>

