<div class="row">
 <% @products.each do |product| %>
  <div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="/loginImage.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.description %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= User.where(id: product.user_id).first.username %> <%= product.price %></small>
    </div>
  </div>
</div>
<% end %>
</div%>


