<!DOCTYPE html>
<html>
  <head>
  
    <title>Create Product</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'welcome' %>
    
  </head>


  <body>

    <div class="container">   
    <div style="padding:1%"></div>
        <div class="row no-gutters" id="productrow">
            <div class="col nopadding" id="info">
             <div style="padding:1%"></div>
                <h1 class="heading" style="text-align:center ">Create your Product</h1>
                <%= render 'form', product: @product %>
                
            </div>
        </div>
    </div>
     
  </body>
</html>