<footer class="footer">
  <small>
    <a href="https://buydeis.herokuapp.com">Brandeis Buy and Sell</a>
    by Fatumata Jalloh, Sophia Wang, Yalda Mauj
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>