<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/welcome">buyDeis</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for user or product">
          </div>
          <button type="submit" class="btn btn-default" id='searchbutton'>Search</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
        
        <% if session[:user_id] %>
          <li><a class="navbutt" href="/messages">Messages</a></li>
          <li><a class="navbutt" href="/createProduct">createProduct</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbutt" data-toggle="dropdown"  role="button" aria-expanded="false">You<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="dropdownbutt">Mypage</a></li>
              <li><a  class="dropdownbutt"><%= link_to "Log out", logout_path, :method => :delete  %></a></li>
            </ul>
          </li>
        <% else %>
            <li><a class="navbutt" href="/login">Sign in</a></li>
            <li><a class="navbutt" href="/signup">Sign up</a></li>
        <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  